@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Poppins", sans-serif;
}
:root
{
    --background-color: #1572D3;
    --font-size-p:14px;
    --color-p:rgb(156, 149, 149);
    --bg-sky-blue:#e7f0fa;
}
header
{
    position: fixed;
    top: 0px;
    width: 100%;
    overflow-x: hidden;
    z-index: 100;
    background-color: white;
}
#main_head
{
    padding-left: 100px;
    padding-right: 170px;
}
.nav
{
    padding: 5px 20px;
    justify-content: space-between;
    padding-top: 24px;
}
.nav .links
{
    display: flex;
    gap: 30px;
    list-style: none;
}
.links li a
{
    text-decoration: none;
    color: black;
}
.nav_btn .button
{
    background-color: var(--background-color);
    color: white;
}
.hero_content
{
    height: 400px;
    padding-top: 190px;
    padding-left: 170px;
}
.hero_content .content_img
{
    width: 70%;
}
.content_img
{
    height: 107px;
    position: relative;
}
.content_img h1
{
    font-size: 38px;
}
.content_img img
{
    position: absolute;
    width: 100px;
    bottom: 5px;
    transform: rotate(2deg);
    /* border: 1px solid red; */
    right: 15px;
}
.hero_content_btn button 
{
    border: none;
}
.hero_content p
{
  font-size: var(--font-size-p);
}

.hero_img .img_1
{
  width: 70%;
  margin-left: 200px;
}
.hero_img .img_2
{
    position: absolute;
    top: 150px;
    width: 50%;
    left: 630px;
}
.room_manage
{
    box-shadow: 0px 0px 10px gray;
}
.room_search
{
    width: 100%;
    height: 100px;
}
.room_main
{
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
}
.location_cont_icon
{
    font-size: 30px;
    margin-right: 15px;
}
.location_cont_content
{
    height: 40px;
    line-height: 2px;
    margin-top: 10px;
}
.book_room
{
    display: flex;
    justify-content: center;
}
.book_room button
{
    background-color: #e7f0fa;
    color: var(--background-color);
    margin-top: 10px;
}
.book_room h1
{
    margin-top: 15px;
    font-size: 30px;
    margin-bottom:20px;
    margin-left: 100px;
}
.book_card_main
{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.book_card
{
 width:20%;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.book_card_icon
{
    width:45%;
    height:70px;
    /* border:1px solid red; */
    background-color:#e7f0fa;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    margin-left:28%;
    margin-top:20px
}
.book_card_icon img
{
    width:50px;
    height:50px;
}
.book_card_content
{
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    margin-top: 10px;
}
.book_card_content h1
{
   font-size:20px;
}
.book_card_content p
{
    font-size:12px;
    color:gray;
}

.comp_logo_move {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comp_logos {
    display: inline-flex;
    gap: 120px;
    animation: slide 20s linear infinite;
}

.comp_logos img {
    width: 200px;
    height:50px;
    user-select: none;
    pointer-events: none;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
.booking_car_feature
{
    height:400px;
    padding-top: 50px;
}
.booking_car_feature img
{
  width: 100%;
}
.booking_car_features_content button
{
  background-color: var(--bg-sky-blue);
  color:var(--background-color);
  border:none;
}
.booking_car_features_content h1
{
    font-size: 30px;
    margin-top: 20px;
}
.car_features_icon
{
    width:40px;
    height:40px;
    background-color: var(--bg-sky-blue);
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.car_features_content h1
{
  font-size: 17px;
}
.car_features_content p
{
    font-size: 12px;
    color: var(--color-p);
}
.car_features_content_main
{
    display: flex;
    align-items: center;
    height: 85px;
}
.car_card 
{
    width: 100%;
    height: 370px;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    gap: 10px;
    margin-top: 20px;
}

.card_img
{
    height: 150px;
    border-bottom: 1px solid rgb(226, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_img img
{
    width: 230px;
    height: 100px;
}
.card_heading
{
    /* border: 1px solid red; */
    padding-left: 10px;
    padding-top: 10px;
}
.card_heading h1
{
    font-size: 17px;
}
.card_detail
{
   border-bottom: 1px solid rgb(226, 225, 225);
   padding-left: 10px;
   padding-top: 6px;
   padding-bottom: 1px;
}
.card_detail span
{
    font-size: 14px;
    color:gray;
}
.card_price
{
    /* border: 1px solid red; */
    margin-top: 10px;
    padding-left: 10px;
}
.card_price button
{
    padding: 5px 40px;
    margin-left: 35px;
    margin-top: 15px;
}
.class_main
{
    height: 400px;
    padding-top: 100px;
    padding-left: 100px;
}
.class_main button
{
   background: var(--bg-sky-blue);
   color: var(--background-color);
   margin-bottom: 10px;
}
.class_main button
{
    border:none;
}
.class_img
{
    padding-top: 160px;
    padding-left: 100px;
}
.class_img img
{
    width: 300px;
}
.footer-link {
    color: #a9b7c7;
    text-decoration: none;
}
.footer-link:hover {
    color: #fff;
}

.social-icon {
    width: 35px;
    height: 35px;
    background: #0d2a45;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.social-icon:hover {
    background: #1a446e;
}
@media (max-width:570px){
 .nav
 {
    padding: 5px 5px;
 }
 .hero_content
 {
    padding-left: 0px;
 }
 .content_img h1
 {
    font-size: 28px;
 }   
 .hero_img .img_2
 {
    width: 370px;
    height: 240px;
    top: 530px;
    left: 10px;
 }
 .hero_img .img_1
 {
    width: 400px;
    margin-left: 10px;
 }
 #main_head
 {
   padding-left: 0px;
   padding-right: 0px;
 }
}